@font-face
  font-family: 'Alata'
  font-style: normal
  font-weight: 400
  src: local('Alata Regular'), local('Alata-Regular'), url('../fonts/alata-v2-latin-regular.woff2') format('woff2'), url('../fonts/alata-v2-latin-regular.woff') format('woff')

@font-face
  font-family: 'Scada'
  font-style: normal
  font-weight: 400
  src: local('Scada Regular'), local('Scada-Regular'), url('../fonts/scada-v9-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/scada-v9-latin_cyrillic-regular.woff') format('woff')

@font-face
  font-family: 'Scada Bold'
  font-style: normal
  font-weight: 700
  src: local('Scada Bold'), local('Scada-Bold'), url('../fonts/scada-v9-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/scada-v9-latin_cyrillic-700.woff') format('woff')

@font-face
  font-family: 'Goldman'
  font-style: normal
  font-weight: 400
  src: local('Goldman Regular'), local('Goldman-Regular'), url('../fonts/goldman-v1-latin-regular.woff2') format('woff2'), url('../fonts/goldman-v1-latin-regular.woff') format('woff')

@font-face
  font-family: 'Goldman Bold'
  font-style: normal
  font-weight: 700
  src: local('Goldman Bold'), local('Goldman-Bold'), url('../fonts/goldman-v1-latin-700.woff2') format('woff2'), url('../fonts/goldman-v1-latin-700.woff') format('woff')

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  src: url('../fonts/raleway-v18-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/raleway-v18-latin_cyrillic-regular.woff') format('woff')

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 600
  src: url('../fonts/raleway-v18-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/raleway-v18-latin_cyrillic-600.woff') format('woff')

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  src: url('../fonts/raleway-v18-latin_cyrillic-500.woff2') format('woff2'), url('../fonts/raleway-v18-latin_cyrillic-500.woff') format('woff')

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 700
  src: url('../fonts/raleway-v18-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/raleway-v18-latin_cyrillic-700.woff') format('woff')
